@charset "UTF-8";

body{
    background-color: rgb(168, 168, 168);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}
article{
    background-color: white;
    margin: 5px 5px;
    padding: 100px 5px;
}
article.fundo1{
    color: white;
    background-image: url("imagens/background001.jpg");
    background-position: center center;
    background-attachment: fixed;
}
article.fundo2{

    background-image: url("imagens/background002.jpg");
    background-position: center center;
    background-attachment: fixed;
}
main p{
    display: block;
    text-align: left;
    margin:auto;
    padding: 5px 5px;
    font-size: 30px;
}
p.fundo_P{
    background-color: rgba(0, 0, 0, 0.281);
}
